@import "reset.css";

body {
  background-color: #bbdaf8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vh;
  padding-bottom: 5vh;
}

#title {
  width: 100vw;
  margin-bottom: 2vh;
}

#title h1 {
  color: white;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
}

.defineCanvasSize {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1vh;
}

.defineCanvasSize input {
  width: 295px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  border-style: none;
  margin-top: 10px;
  padding: 0px 5px 5px 0px;
}

.sizeButton {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 12px 0px;
  width: 300px;
  min-width: 80px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(50, 50, 90, 0.07), 0 0px 5px rgba(50, 50, 90, 0.18);
}
.sizeButton:active {
  transform: scale(0.98);
}

#jsCanvas {
  margin-top: 2vh;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 90, 0.12), 0 0px 5px rgba(50, 50, 90, 0.12);
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
}

.controls .controls_range {
  margin-bottom: 2vh;
}

.controls_btns button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 7px 0px;
  width: 10vw;
  min-width: 80px;
  text-align: center;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 300;
  box-shadow: 0 4px 6px rgba(50, 50, 90, 0.07), 0 0px 5px rgba(50, 50, 90, 0.18);
}

.controls_btns button:active {
  transform: scale(0.98);
}

.controls .controls_btns {
  margin-bottom: 2vh;
}

.controls .controls_colors {
  display: flex;
}

.controls_colors .controls_color {
  width: 6vh;
  height: 6vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  border-radius: 3vh;
  cursor: pointer;
  box-shadow: 0 0px 5px rgba(50, 50, 90, 0.12);
}

.controls_colors .controls_color:hover {
  transform: translate(0px, -3px);
  box-shadow: 0 4px 6px rgba(50, 50, 90, 0.12), 0 0px 5px rgba(50, 50, 90, 0.09);
}

@media screen and (max-width: 900px) {
  body {
    padding-top: 0;
  }

  #title {
    height: 10vw;
    min-height: 70px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(50, 50, 90, 0.12);
  }
  #title h1 {
    margin-top: 22px;
    font-size: 5vw;
    font-weight: 320;
    color: #4d9be9;
  }

  .defineCanvasSize input {
    width: 80vw;
    height: 40px;
  }

  .sizeButton {
    width: 80.5vw;
    padding: 12px 0px;
  }

  .controls {
    margin-top: 3vh;
  }

  .controls_colors {
    margin-top: 0.5vh;
  }

  .controls_colors .controls_color {
    width: 9vw;
    height: 9vw;
    border-radius: 4.5vw;
  }
}
